langgraph
langchain-core
langchain-ollama
langchain-community
tavily-python
fastapi
uvicorn
streamlit
sseclient-py
python-dotenv
pydantic
beautifulsoup4
wikipedia
langgraph-checkpoint-sqlite
chromadb
langchain-chroma
langchain-experimental
pandas
matplotlib
pdfplumber
